<h1>Contact is added to database</h1>
<h2>First Name: <%= @first_name %></h2>
<h2>Last Name: <%= @last_name %></h2>
<h2>Email: <%= @email %></h2>
<h2>Phone Number: <%= @phone_number %></h2>

<%= link_to "Home", action: "index"%>

